{% extends "admin/change_list.html" %}

{% load admin_extras %}

{% block result_list %}
    <div>
        {% for group, rows in grouped_tables.items %}
            <h3>Program Type: {{ group }}</h3>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        {% for header in cl.result_headers %}
                            <th>{{ header.text }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            {% for field in cl.list_display %}
                                <td>{{ row|get_attr:field }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% empty %}
            <p>No records found.</p>
        {% endfor %}
    </div>
{% endblock %}